@use "../../scss/variables" as *;

.homePage {
  padding: 30px 40px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include media-mobile-lg {
    padding: 10px 10px 0 10px;
  }
  .myCard {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px 0;
    border-top: 1px solid $grey-bg;
    .avatar {
      border-radius: 999px;
    }
  }
  .contactList {
    font-size: 1.5rem;
    list-style: none;
    .nameListItem {
      border-top: 1px solid $grey-bg;
      padding: 10px 5px;
      &:hover {
        background-color: $grey-bg;
      }
    }
  }
}
