//Colors from MEYD.IT
// Lighte palette
$light-bg: hsl(0, 0%, 100%);
$grey-bg: hsla(0, 0%, 0%, 0.1);
$theme-main: rgb(132, 96, 195);
$theme-main-hover: hsl(258, 99%, 72%);
$text-secondary: hsl(258, 11%, 47%);
$text-link: hsl(211, 100%, 50%);
$border: #ced4da;
